body{
	font-family: Gilroy;
	width: 100%;
	min-height: 2000px;
	background-color: #FFFFFF;
	margin: 0 auto;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
section{
	width: 1366px;
	min-height: 2000px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
button{
	outline: none;
}
header{
	width: 100%;
	height: 70px;
	background: #313030;
}
.font_color{
 color: white;
}
.block_1{
	background: #f6f2f2;
	width: 100%;
	height: 600px;
	padding: 0;
}
.block_1_l{
	 margin: 0;
	 width: 50%;
	 height: 100%;
	 float: left;
}
.block_1_l_head{
	margin-left: 30px;
	margin-top: 100px;
	margin-bottom: 0; 
	font-size: 80px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 90%;
}
.block_1_l_text{
	margin-left: 30px;
	margin-top: 40px;
	margin-bottom: 0; 
	font-size: 21px;
	color: #6f6d6d;
}
.block_1_l_button{
	margin: 60px 20px 10px;
	width: 230px;
	height: 60px;
	background: #ff3f40;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
	border-radius: 5px;
	border-color: #ff3f40;
}
.block_1_l_button:hover{
	background: #FFFFFF;
	color: #ff3f40;
	border-color: #ff3f40;

}
.block_1_r{
	margin: 0;
 	width: 50%;
 	height: 100%;
 	float: right;
}
.block_1_r_video{
	box-shadow: 2px 3px 20px 5px rgba(0, 0, 0, 0.8) ;
	margin: 120px 20px 20px 30px;
	height: 360px;
	width: 550px;
	background: red;
}
.block_2{
	width: 100%;
	height: 600px;
	padding: 100px 0 0;
}
.block_2_l{
	margin: 0;
	width: 50%;
	height: 100%;
	float: left;
}
.block_2_l_head{
	margin: 0 40px 0 30px;
	font-size: 56px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 90%;
	color: #585858;
}
.block_2_l_text{
	margin: 40px 40px 0 30px;
	font-size: 21px;
}
.block_2_l_button{
	margin: 60px 20px 10px;
	width: 230px;
	height: 60px;
	background: #FFFFFF;
	color: #ff3f40;
	font-size: 22px;
	font-weight: bold;
	border-radius: 5px;
	border-color: #ff3f40;
}
.block_2_l_button:hover{
	background: #ff3f40;
	color: #FFFFFF;
	border-color: #ff3f40;
	}
.block_2_r{
	margin: 0;
	padding: 0;
	width: 50%;
	height: 100%;
	float: right;
}
.block_2_r_1{
	margin: 0;
	width: 50%;
	height: 50%;
	float: left;
}
.block_2_r_2{
	margin: 0;
	width: 50%;
	height: 50%;
	float: right;
}
.block_2_r_img{
 margin: 0 40px 0;
}
.block_2_r_head{
	margin: 10px 40px 0;
	color: #737373;
	font-weight: bold;
}
.block_2_r_text{
	 margin: 15px 20px 0 40px;
	 color: #737373;
}
.block_2_line{
	margin-bottom: 0;
	width: 90%;
	color: black;
}
.block_3{
	width: 100%;
	height: 1000px;
	padding: 100px 0 0;
}
.block_3_head{
	margin: 60px 20px 0;
	text-align: center;
	font-size: 56px;
	color: #585858;
	font-weight: bold;
	text-transform: uppercase;
}
.block_3_text{
	margin: 25px 25% 30px;
	text-align: center;
	font-size: 21px;
	color: #585858;

}
.block_3_line{
	width: 200px;
	border-color: #ff3f40;
}
.block_3_nav{
	margin: 0;
	padding: 0;
	width: 100%;
 	height: 100px;
 	list-style-type: none;
 	display: flex;
 	justify-content: center;
}

.block_3_nav_item{
	margin: 0 10px 0;
	padding: 0;
	text-transform: uppercase;
	background: transparent;
	border: none;
	color: #585858;
	font-size: 29px;
	font-family: Gilroy;
	font-weight: bold;

}
.block_3_nav_item:disabled{
	color: #ff3f40;
}
.block_3_nav_item:hover{
	color: #ff3f40;
}
.block_3_nav_table{
 	width: 100%;
 	height: 500px;
 	padding: 0;
 	margin: 0;
 		border-spacing: 20px 30px;

}
.block_3_nav_table_td{
	width: 290px;
	height: 290px;
	background: #f5f0dd;
}
.block_3_product_nav{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 700px;
	display: block;
 	align-items: center;
    align-content: center; 
    justify-content: center;


}
.block_3_product{
	margin: 20px 15px 30px;
	padding: 0;
	float: left;
	width: 270px;
	height: 270px;
	position: sticky;
	background: #f5f0dd;
}
.block_4{
	width: 100%;
	height: 800px;
}
.block_4_header{
	width: 100%;
	position: relative;
}
.block_4_header_head{
	width: 600px;
	margin: 60px 20px 0;
	font-size: 56px;
	color: #585858;
	font-weight: bold;
	text-transform: uppercase;
}
.block_4_header_text{
	width: 600px;
	margin: 25px 20px 30px;
	font-size: 21px;
	color: #585858;
}
.block_4_line{
	width: 200px;
	border-color: #ff3f40;
	margin-left: 30px;
}
.block_4_desk{
	margin: 40px 0 0;
	height: 460px;
	width: 100%;
}
.block_4_desk_avatar{
	margin: 0 0 0 30px;
 	width: 310px;
 	height: 460px;
 	background: #f5f0dd;
 	float: left;
}
.block_4_desk_info{
	float: left;
	width: 60%;
	height: 50%;

}
.block_4_desk_head{
	margin: 0 20px 0;
	font-size: 56px;
	color: #585858;
	font-weight: bold;
	text-transform: uppercase;
}
.block_4_desk_text{
	width: 600px;
	margin: 30px 20px 30px;
	font-size: 21px;
	color: #585858;
}
.block_4_desk_link{
	margin: 30px 0 0;
	padding: 0;
	list-style-type: none;
 	display: flex;
 	justify-content: left;
}
.block_4_desk_link li a{
	margin: 0 0 0 30px;
	text-decoration: none;
	color: #585858;
}
.block_4_desk_info_person{
	margin: 20px 0 0 30px;
	padding: 0;
	float: left;
	width: 210px;
	height: 210px;
	position: sticky;
	background: #f5f0dd;
}
.block_5{
	margin: 0;
	padding: 20px 0 0;
	width: 100%;
	height: 510px;
	background: #f5f0dd;
}
.block_5_head{
	margin: 100px 15px 0;
	text-align: center;
	font-size: 56px;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
}
.block_5_text{
	margin: 25px 0 30px;
	text-align: center;
	font-size: 21px;
	color: #FFFFFF;
}
.block_5_subscribe{
	margin: 5px 10px 0 15%;
	width: 50%;
	height: 100px;
	border-radius: 5px;
	border: none;
}
.block_5_subscribe_button{
	margin: 10px 0 0;
	width: 230px;
	height: 100px;
	background: #ff3f40;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
	border-radius: 5px;
	border-color: #ff3f40;
}
.footers{
	width: 100%;
	height: 100px;
	background: #313030;

}
.footer_copyright{
	color: white;
	font-size: 22px;

}
.footer_link{
	margin: 0;
	padding: 0;
	width: 100%;
 	height: 100px;
 	list-style-type: none;
 	float: right;
 	display: flex;
}
.footer_link_item{
	margin: 0 50px 0 0;
}